.first-div{
    display: flex;
    width: 100vw;
    height: 45px;
    padding-bottom: 11px;
    margin: 4px 0px 0px 0px;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 1px #b5b2b2;
    padding-top: 9px;

    
}

div>.newgenlogo{
    margin-left: 6rem;
    height: 60px;
    margin-top: -7px;

}

div>.btn{

    margin-right: 6rem;
    background-color: black;
    color: white;
    border-radius: 27px;
}

div>.btn:hover{
    background-color: black;
}